{% extends 'layouts/plantillaMaestra.html.twig' %}


{% block title %} animales {% endblock %}

{% block cabecera %}
    {{ parent () }}

    <h1>hola {{name}}</h1>
{% endblock %}

{% block contenido %}
    {#<hr>
    <h1> {{ title }}</h1>
    <p>tu nombre es: {{ name }}</p>
    <hr>#}

{#    crear e imprimit variable #}
    {% set perro = 'pastor ganadero' %}
    <p>{{ perro }}</p>

{#    condicionales   #}
    {% if perro == 'pastor ganadero' %}
        <h2> cuidado con el perro</h2>
    {% else %}
        <h2> puede jugar con el</h2>
    {% endif %}

{#    bucles          #}
    {% if animales|length >= 0 %}
        <ul>
            {% for animal in animales %}
            <li>{{ animal }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>np hay animales</p>
    {% endif %}
    <hr>
    {{ include('partials/funciones.html.twig', {"nombre": "sergio"}) }}


{% endblock %}
