{#    funciones predefinidas twig: algunas de las mas usuadas    #}
    <h1>funciones</h1>
    <h2>{{ nombre }}</h2>
    {{ min ([9,6,8,1,2,0]) }} </br>
    {{ max ([9,6,8,1,2,0]) }} </br>
    {{ random(animales) }}
    {% for i in range(0,100, 20) %}
        {{ i }} <br>
    {% endfor %}
